.truncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

#random-movie {
    background-repeat: no-repeat;
    background-size: cover;
}
